{% load static %}
<content>
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->
                        <div class="col-12 col-lg-7">
                            <div class="single-blog-post featured-post">
                                <span>
                                        {% for news in political_news %}
                                        {% if forloop.counter == 1 %}
                                        <div class="post-"thumb>
                                    
                                                <a href="{{ news.get_absolute_url }}"><img src="{{ news.cover_image.url }}" alt=""></a>
                                            </div>
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">POLITICS</a>
                                                <a href="{{ news.get_absolute_url }}" class="post-title">
                                                    <h6>{{news.title}}</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By {{news.author}}</p>
                                                    <p class="post-excerp">{{news.story}} </p>
                                                    <!-- Post Like & Post Comment -->
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                                        <a href="# " class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>{{news.news_comment.count}}</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                      {% endfor %}
                              
                            
                            </span>

                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post-2">
                            <span>
                                        {% for news in finance_news %}
                                        {% if forloop.counter == 1 %}
                                        <div class="post-"thumb>
                                    
                                                <a href="{{ news.get_absolute_url }}"><img src="{{ news.cover_image.url }}" alt=""></a>
                                
                                   
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Finance</a>
                                    <div class="post-meta">
                                        <a href="{{ news.get_absolute_url }}" class="post-title">
                                            <h6>{{news.title}}</h6>
                                        </a>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                                      {% endif %}
                                      {% endfor %}
                              
                            
                            </span>
                                </div>
                            </div>

                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post-2">
                                <div class="post-thumb">
                                 <span>
                                        {% for news in sports_news %}
                                        {% if forloop.counter == 1 %}
                                    <a href="{{ news.get_absolute_url }}"><img src="{{ news.cover_image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">SPORTS</a>
                                    <div class="post-meta">
                                        <a href="{{ news.get_absolute_url }}" class="post-title">
                                         <h6>{{news.title}}</h6>
                                          </a>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                      {% endfor %}
                              
                            
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Featured Post -->
                    {% for news in popular_news %}
                    <div class="single-blog-post small-featured-post d-flex">
                        <div class="post-thumb">
                            <a href="{{news.get_absolute_url}}"><img src="{{news.cover_image.url}}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="{% url 'category_news' category=news.get_category_display %}" class="post-catagory">{{ news.get_category_display }}</a>
                            <div class="post-meta">
                                <a href="{{news.get_absolute_url}}" class="post-title">
                                    <h6>{{news.title}}</h6>
                                </a>
                                <p class="post-date"><span>{{news.created_at}}</span></p>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   

        
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Politics News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading">
                        <h6>Politics</h6>
                    </div>

                    <div class="row">

                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                {% for news in political_news %}
                                <div class="post-thumb">
                                        <a href="{{ news.get_absolute_url }}"><img src="{{ news.cover_image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory"></a>
                                        <a href="#" class="post-title">
                                            <h6>{{news.title}}</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                               {% endfor %}
                               {% for news in political_news %}
              {% if forloop.counter == 1 %}
              <a href="{% url 'category_news' category='Politics' %}">See all</a>
              
              {% endif %}
              {% endfor %}
                                  
                            </div>
                        </div>
                    </div>
                </div>


                   
                <div class="col-12 col-lg-4">
                    <div class="section-heading">
                        <h6>Info</h6>
                    </div>
                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-30">
                        <h3>4 Important Health Tips</h3>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            {% for news in health_news %}
                            <h6><span>1.</span> {{news.story}}</h6>
                            
                            <p>{{news.created_at}}</p>
                            {% endfor %}
                            
                               
                        </div>
                
                       
                    </div>

                    <!-- Suggestion Widget -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Politics News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
   
      <div class="video-post-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/bg1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Video Post -->
            {% for news in video_news %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-video-post">
                   {% if news.video_image %}
                   <img src="{{ news.video_image.url }}" alt="">
                   {% endif %}
                  
                    <!-- Video Button -->
                    <div class="videobtn">
                        <a href="{{news.video_url}}" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
                
               

            </div>
        </div>
    </div>
    
    
    <!-- ##### Video Post Area End ##### -->

   
</content>
