{% load static %}
<footer class="footer-area">

    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            

                <!-- Footer Widget Area -->
                
                    <div class="footer-widget-area mt-80">
                        <!-- Footer Logo -->
                        
                        <div class="text-center">
                        <br>
                        <br>
                        
                       <div class="footer-logo">
                       <a href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        </div>
                        </div>
                        
                    
                        
                        <!-- List -->
                        <ul class="list">
                            <li><a href="mailto:contact@youremail.com">contact@youremail.com</a></li>
                            <li><a href="tel:+4352782883884">+43 5278 2883 884</a></li>
                            <li><a href="http://yoursitename.com">www.yoursitename.com</a></li>
                        </ul>
                 </div>


        </div>
    </div>

    

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
       
    </div>
</footer>