{% extends "partials/base.html" %}
{% load account %}
{% load static %}

{% user_display user %}
{% load socialaccount %}
{% load crispy_forms_tags %}


{% block header %}
 {% include "partials/header.html" %}
 {% endblock header %}
   
  
   
{% block content %}
  
<br>
<br>
<link rel="stylesheet" href="{% static 'css/content.css' %}">


<form  class="form-inline" method="POST" name="login_form" >
  {% csrf_token %}
 
  {{form|crispy}}
    <input type="checkbox" onclick="myFunction()">Show Password 
  <div> 
    <span style ="padding-left:195px;"> <button type="submit" class="btn btn-primary mb-2">Confirm identity</button></span>
</div>


<br>
<span style ="padding-left:213px;">
 <a href="{% provider_login_url 'google' %}">
 <button type="submit" name="button" class="btn btn-danger mb-2"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png">&nbsp; LOGIN WITH GOOGLE</button>
 </a>
</span>
</form>  
</div>
</div>
</div>      
<script>
  function myFunction() {
    
  var x = document.getElementById("id_password");
  console.log(x.type)

  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</div>


 {% endblock content %}
   
  {% block footerad %}
  {% include "partials/footerad.html" %}
 {% endblock footerad %}
 
   {% block footer %}
   {% include "partials/footer.html" %}
 {% endblock footer %}
   
   {% block script %}
   {% include "partials/script.html" %}
 {% endblock script %}