{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
 {% include "partials/header.html" %}

{% endblock header %}

{% block content %}
<div class="content-section">
<div class="media">
<img class="rounded-circle" src="{{ user.profile.profile_image.url }}" height="100px" width="30px">

<div class="media-body">
<h2 class="account-heading">{{user.username}}</h2>
<p class ="text-secondary">{{user.email}}</p>
</div>
</div>
<link rel="stylesheet" href="{% static 'css/content.css' %}">

<div class="col-sm-6 offset-sm-4 text-center">
<div class="row">
    <div class="col-md-6">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
          

            {{ u_form|crispy }}
            {{ p_form|crispy }}
            

            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        </div>
        </div>
</div>
</div>

{% endblock content %}

 {% block footerad %}
  {% include "partials/footerad.html" %}
 {% endblock footerad %}
 
   {% block footer %}
   {% include "partials/footer.html" %}
 {% endblock footer %}
   
   {% block script %}
   {% include "partials/script.html" %}
 {% endblock script %}