{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
 {% include "partials/header.html" %}

{% endblock header %}

{% block content %}
<div class="content-section">
<div class="media">
<img class="rounded-circle" src="{{user.profile.profile_image.url}}" heigth="100px" width="90px">

<div class="media-body">
<h2 class="account-heading">{{user.username}}</h2>
<p class ="text-secondary">{{user.email}}</p>
</div>
</div>
</div>

{% endblock content %}

 {% block footerad %}
  {% include "partials/footerad.html" %}
 {% endblock footerad %}
 
   {% block footer %}
   {% include "partials/footer.html" %}
 {% endblock footer %}
   
   {% block script %}
   {% include "partials/script.html" %}
 {% endblock script %}