    

{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block header %}
 {% include "partials/header.html" %}
 {% endblock header %}
   

   
{% block content %}
<br>
<link rel="stylesheet" href="{% static 'css/content.css' %}">

<div class="col-sm-6 offset-sm-4 text-center">
<div class="row">
    <div class="col-md-6">

        <form method="post">

            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
            

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        </div>
        </div>
</div>
        
      
      
  
  
  
{% endblock content %}
   
  {% block footerad %}
  {% include "partials/footerad.html" %}
 {% endblock footerad %}
 
   {% block footer %}
   {% include "partials/footer.html" %}
 {% endblock footer %}
   
   {% block script %}
   {% include "partials/script.html" %}
 {% endblock script %}