 <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{{ user.profile.profile_image.url }}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">{{comment.comment_by}}</a>
                                            <a href="#" class="post-date">{{comment.create_at}}</a>
                                            <p>{{comment.feedback}}</p>
                                        </div>
                                    </div>
                                </li>